
.vs/slnx.sqlite
bin/Debug/netcoreapp2.1/myservice.dll
bin/Debug/netcoreapp2.1/myservice.pdb
bin/Debug/netcoreapp2.1/myservice.runtimeconfig.dev.json
obj/Debug/netcoreapp2.1/myservice.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/myservice.dll
obj/Debug/netcoreapp2.1/myservice.pdb
obj/myservice.csproj.nuget.cache
obj/myservice.csproj.nuget.g.props
obj/project.assets.json
.vs/slnx.sqlite
bin/Debug/netcoreapp2.1/myservice.dll
bin/Debug/netcoreapp2.1/myservice.pdb
bin/Debug/netcoreapp2.1/myservice.runtimeconfig.dev.json
obj/Debug/netcoreapp2.1/myservice.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/myservice.dll
obj/Debug/netcoreapp2.1/myservice.pdb
obj/myservice.csproj.nuget.cache
obj/myservice.csproj.nuget.g.props
obj/project.assets.json
*.cache
*.cache
